@import url('https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&display=swap');
@import url('https://fonts.google.com/specimen/Iceland?preview.text=1%20curtida&categoryFilters=Feeling:%2FExpressive%2FFuturistic&specimen.preview.text=1+curtida&preview.script=Latn');

@import "tailwindcss";

:root {
  font-family: 'Almendra', serif;
  background-color: #8970be;
  color: #3e1b5f;
}

.font-almendra {
  font-family: 'Almendra', serif;
}

.lilac {
  color: #e9d4ff;
}

.font-iceland {
  font-family: 'Iceland?preview', serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;      
  width: 100%;
}


img {
  max-width: 100%;
  display: block;
}